<h1>Coins#show</h1>
<p>Find me in app/views/coins/show.html.erb</p>

<h3>Coin Name: <%= @coin.name %></h3>
<h3>Quantity: <%= @coin.quantity %></h3>
<h3>CoinmarketCap ID: <%= @coin.cmarketcap_id %></h3>
<h3>Price CoinmarketCap: <%= @coin.price(@coin.cmarketcap_id) %></h3>

<h3>BITTREX</h3>
<%= @bittrex %>

<h3>BINANCE</h3>
<%= @binance %>

<h3>CRYPTOPIA</h3>
<%= @cryptopia %>


